@import "_variables.scss";

body {
  background-color: $background-color;
  margin: 0;
  color: $text-color;
}

a:link,
a:visited {
  user-select: none;
  text-decoration: none;
  color: $text-color;
}

.top:hover {
  background-color: $top-hover-color;
}

.btn {
  cursor: pointer;
  user-select: none;
  text-decoration: none;
  display: inline-flex;
  margin: 3px;
  padding: 3px;
  border: 1px solid $btn-color;

  transition: all 0.2s;
}

.btn:hover {
  background-color: $hover-color;
  color: #fff;
}
